@import '../global.scss';

.searchWrapper{
    padding: 15px;

    .searchIconsHeader{
        display:flex;
        align-items: center;
        justify-content:space-between;
        
        .icon{
            width:31px;
            height:33px;
            background-color:$mainColor;
            border-radius:50%;
            display:flex;
            align-items: center;
            
            padding: 4px;
            .icons{
                background-color: $mainColor;
            img{
                width:20px;
                height: 20px;
                margin: 0px auto;
                background-color: $mainColor;
                
            }
        }
        }
    }
    .movieresult{
        
        display:grid;
        grid-template-columns: repeat(2,1fr);
        flex-wrap: wrap;
        align-items:center;
        img{
            width: 150px;
            height: 200px;
            border-radius:10px;
            margin: 5px;
        }
        
    }
}