@import '../global.scss';

.searchWrapper{
    padding: 15px;

    .searchIconsHeader{
        display:flex;
        align-items: center;
        justify-content:space-between;
        .icon{
            width:30px;
            height:30px;
            background-color:$mainColor;
            border-radius:50%;
            display:flex;
            align-items: center;
            padding: 5px;
            img{
                width:20px;
                height: 20px;
                margin: 0px auto;
                background-color: $mainColor;
                
            }
        }
    }

    .searchContainer{
        display:flex;
        align-items: center; 
        background-color:$mainColor;
        height:60px;
        margin-top: 30px;
        border-radius:5px;
        padding: 15px;
        .icon{
            width:30px;
            height:30px;
            background-color:$mainColor;
            border-radius:50%;
            display:flex;
            align-items: center;
            padding: 5px;
            img{
                width:20px;
                height: 20px;
                margin: 0px auto;
                background-color: $mainColor;
                
            }
        }
        .search{
            width:100%;
            
            .searchInput{
                height:30px;
                width:100%;
                border: none;
                background-color: $mainColor;
                color: $color;
                font-weight: 1000;
                font-size: 25px;
                &:focus{
                    
                    outline: none;
                }
                &::placeholder {
                    color: $color;
                    opacity: 1;
                }
            }
            
        }
    }

    .searchItemsContainer{
        margin-top:20px;
        display:flex;
        align-items: center;
        justify-content: space-between; 
        @include mobile{
            display: flex;
            flex-direction: column;

        }
        .searchRecentItems{
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            h1{
                color:orange;
                font-weight: 900;
                font-size: 25px;
                margin-bottom: 20px;
            }
            .item{
                display:flex;
                align-items: center; 
                border-radius: 20px;
                height:65px;
                padding: 10px;
                background-color: $mainColor;
                margin-bottom: 20px;
                @include mobile{
                    height:40px;
                    padding:2px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                }
                span{
                    background-color: $mainColor;
                    margin-left: 20px;
                    font-size:20px;
                    @include mobile{
                        font-size:15px;
                        margin-left: 0px;
                    }
                }
                .movie{
                    height: 20px;
                    background-color: $mainColor;
                }
            }
        }
    }

    .searchUIKeyboard{
        .characters,.numbers{
            &.active{
                .row{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .letter{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 5px;
                        width:60px;
                        height: 60px;
                        font-weight: 900;
                        font-size: 20px;
                        background-color: rgb(4, 4, 83);
                        @include mobile{
                            width:30px;
                            height: 30px;
                        }
                        img{
                            width:30px;
                            height: 30px;
                            background-color: rgb(4, 4, 83);
                        }
                        &.close,&.num{
                            width: 80px;
                            color: rgb(248, 176, 42);
                            font-weight: 700;
                            @include mobile{
                                width: 50px;
                                font-size: 10px;
                                
                            }
                        }
                    }
                }

            }
            &.notactive{
                display:none;
        }
            
    }
        .rowButtons{
            display: flex;
            align-items: center;
            
            .btnn{
                display: flex;
                margin-right: 18px;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 50px;
                background-color: rgb(53, 137, 233);
                color: $color;
                font-weight:900;
                &.search{
                    background-color:orange;
                    text-decoration: none;
                }
                
            }
           

        }

    }
}